.profile__image {
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.profile__image-edit {
  background-image: url(/src/images/edit-icon.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 86px;
  left: 7%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease;
  width: 51px;
}

.profile__image:hover .profile__image-edit {
  opacity: 1;
  pointer-events: auto;
}

.profile__image:hover {
  opacity: 0.5;
}

